/*
Story Engine API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package storyteller

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AuthoringAPIService AuthoringAPI service
type AuthoringAPIService service

type ApiDeleteStoryV1AuthoringStoriesStoryIdDeleteRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
}

func (r ApiDeleteStoryV1AuthoringStoriesStoryIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteStoryV1AuthoringStoriesStoryIdDeleteExecute(r)
}

/*
DeleteStoryV1AuthoringStoriesStoryIdDelete Delete Story

Soft-delete a story owned by the calling tenant.

Sets ``deleted_at``; child rows (nodes, events, sessions) are retained.
Idempotent: returns 204 whether or not the story existed.  Returns 422 if
``story_id`` is not a valid UUID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @return ApiDeleteStoryV1AuthoringStoriesStoryIdDeleteRequest
*/
func (a *AuthoringAPIService) DeleteStoryV1AuthoringStoriesStoryIdDelete(ctx context.Context, storyId string) ApiDeleteStoryV1AuthoringStoriesStoryIdDeleteRequest {
	return ApiDeleteStoryV1AuthoringStoriesStoryIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
	}
}

// Execute executes the request
func (a *AuthoringAPIService) DeleteStoryV1AuthoringStoriesStoryIdDeleteExecute(r ApiDeleteStoryV1AuthoringStoriesStoryIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.DeleteStoryV1AuthoringStoriesStoryIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGenerateStoryV1AuthoringStoriesPostRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyGenerateRequest *StoryGenerateRequest
}

func (r ApiGenerateStoryV1AuthoringStoriesPostRequest) StoryGenerateRequest(storyGenerateRequest StoryGenerateRequest) ApiGenerateStoryV1AuthoringStoriesPostRequest {
	r.storyGenerateRequest = &storyGenerateRequest
	return r
}

func (r ApiGenerateStoryV1AuthoringStoriesPostRequest) Execute() (*StoryGenerateResponse, *http.Response, error) {
	return r.ApiService.GenerateStoryV1AuthoringStoriesPostExecute(r)
}

/*
GenerateStoryV1AuthoringStoriesPost Generate Story

Generate a new story for the authenticated tenant.

**Sync mode** (``mode="sync"``, default): generation runs in-process.
The response is returned once the pipeline completes (may take 10–60 s
depending on story size).  HTTP 201 with ``story_id`` populated.

**Async mode** (``mode="async"``): the job is enqueued via ARQ.
HTTP 202 is returned immediately with ``job_id``; call
``GET /v1/authoring/jobs/{job_id}`` or
``GET /v1/authoring/jobs/{job_id}/stream`` to track progress.

``tenant_id`` and ``story_id`` are assigned server-side — do not include
them in the request body.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateStoryV1AuthoringStoriesPostRequest
*/
func (a *AuthoringAPIService) GenerateStoryV1AuthoringStoriesPost(ctx context.Context) ApiGenerateStoryV1AuthoringStoriesPostRequest {
	return ApiGenerateStoryV1AuthoringStoriesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StoryGenerateResponse
func (a *AuthoringAPIService) GenerateStoryV1AuthoringStoriesPostExecute(r ApiGenerateStoryV1AuthoringStoriesPostRequest) (*StoryGenerateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StoryGenerateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.GenerateStoryV1AuthoringStoriesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storyGenerateRequest == nil {
		return localVarReturnValue, nil, reportError("storyGenerateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.storyGenerateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
	nodeId string
}

func (r ApiGetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetRequest) Execute() (*ExplorationNodeResponse, *http.Response, error) {
	return r.ApiService.GetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetExecute(r)
}

/*
GetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGet Get Authoring Exploration Node

Fetch a single exploration node by ID.

Returns 404 if the node does not exist or belongs to a different tenant/story.
``picked`` is always ``False`` — authoring routes have no session context.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @param nodeId
 @return ApiGetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetRequest
*/
func (a *AuthoringAPIService) GetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGet(ctx context.Context, storyId string, nodeId string) ApiGetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetRequest {
	return ApiGetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
		nodeId: nodeId,
	}
}

// Execute executes the request
//  @return ExplorationNodeResponse
func (a *AuthoringAPIService) GetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetExecute(r ApiGetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGetRequest) (*ExplorationNodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExplorationNodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.GetAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}/exploration-nodes/{node_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"node_id"+"}", url.PathEscape(parameterValueToString(r.nodeId, "nodeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJobStatusV1AuthoringJobsJobIdGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	jobId string
}

func (r ApiGetJobStatusV1AuthoringJobsJobIdGetRequest) Execute() (*JobStatusResponse, *http.Response, error) {
	return r.ApiService.GetJobStatusV1AuthoringJobsJobIdGetExecute(r)
}

/*
GetJobStatusV1AuthoringJobsJobIdGet Get Job Status

Return the current status of an async story generation job.

One-shot JSON alternative to the SSE stream endpoint.  Useful for clients
that cannot consume Server-Sent Events.

``status`` values:
- ``queued``: job is in the ARQ queue but hasn't started.
- ``in_progress``: worker is actively processing.
- ``complete``: generation succeeded; ``story_id`` is populated.
- ``failed``: generation failed; ``error`` contains a sanitised message.
- ``not_found``: job_id unknown or TTL expired (> 5 min after completion).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId
 @return ApiGetJobStatusV1AuthoringJobsJobIdGetRequest
*/
func (a *AuthoringAPIService) GetJobStatusV1AuthoringJobsJobIdGet(ctx context.Context, jobId string) ApiGetJobStatusV1AuthoringJobsJobIdGetRequest {
	return ApiGetJobStatusV1AuthoringJobsJobIdGetRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return JobStatusResponse
func (a *AuthoringAPIService) GetJobStatusV1AuthoringJobsJobIdGetExecute(r ApiGetJobStatusV1AuthoringJobsJobIdGetRequest) (*JobStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.GetJobStatusV1AuthoringJobsJobIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/jobs/{job_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStoryGraphV1AuthoringStoriesStoryIdGraphGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
}

func (r ApiGetStoryGraphV1AuthoringStoriesStoryIdGraphGetRequest) Execute() (*GraphTopologyResponse, *http.Response, error) {
	return r.ApiService.GetStoryGraphV1AuthoringStoriesStoryIdGraphGetExecute(r)
}

/*
GetStoryGraphV1AuthoringStoriesStoryIdGraphGet Get Story Graph

Return the full story DAG for the calling tenant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @return ApiGetStoryGraphV1AuthoringStoriesStoryIdGraphGetRequest
*/
func (a *AuthoringAPIService) GetStoryGraphV1AuthoringStoriesStoryIdGraphGet(ctx context.Context, storyId string) ApiGetStoryGraphV1AuthoringStoriesStoryIdGraphGetRequest {
	return ApiGetStoryGraphV1AuthoringStoriesStoryIdGraphGetRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
	}
}

// Execute executes the request
//  @return GraphTopologyResponse
func (a *AuthoringAPIService) GetStoryGraphV1AuthoringStoriesStoryIdGraphGetExecute(r ApiGetStoryGraphV1AuthoringStoriesStoryIdGraphGetRequest) (*GraphTopologyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GraphTopologyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.GetStoryGraphV1AuthoringStoriesStoryIdGraphGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStoryPathsV1AuthoringStoriesStoryIdPathsGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
}

func (r ApiGetStoryPathsV1AuthoringStoriesStoryIdPathsGetRequest) Execute() (*PathsResponse, *http.Response, error) {
	return r.ApiService.GetStoryPathsV1AuthoringStoriesStoryIdPathsGetExecute(r)
}

/*
GetStoryPathsV1AuthoringStoriesStoryIdPathsGet Get Story Paths

Return all start-to-end paths for the calling tenant's story.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @return ApiGetStoryPathsV1AuthoringStoriesStoryIdPathsGetRequest
*/
func (a *AuthoringAPIService) GetStoryPathsV1AuthoringStoriesStoryIdPathsGet(ctx context.Context, storyId string) ApiGetStoryPathsV1AuthoringStoriesStoryIdPathsGetRequest {
	return ApiGetStoryPathsV1AuthoringStoriesStoryIdPathsGetRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
	}
}

// Execute executes the request
//  @return PathsResponse
func (a *AuthoringAPIService) GetStoryPathsV1AuthoringStoriesStoryIdPathsGetExecute(r ApiGetStoryPathsV1AuthoringStoriesStoryIdPathsGetRequest) (*PathsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PathsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.GetStoryPathsV1AuthoringStoriesStoryIdPathsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}/paths"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStoryV1AuthoringStoriesStoryIdGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
}

func (r ApiGetStoryV1AuthoringStoriesStoryIdGetRequest) Execute() (*StoryDetailResponse, *http.Response, error) {
	return r.ApiService.GetStoryV1AuthoringStoriesStoryIdGetExecute(r)
}

/*
GetStoryV1AuthoringStoriesStoryIdGet Get Story

Return the full story record for a single story owned by the calling tenant.

Equivalent to ``GET /v1/admin/story/{story_id}`` but authenticated by
tenant API key rather than admin bearer token.  Includes
``generation_contract``, ``flag_schema``, ``initial_world_flags``, and
the full ``characters`` registry.

Returns 404 when the story does not exist or belongs to a different tenant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @return ApiGetStoryV1AuthoringStoriesStoryIdGetRequest
*/
func (a *AuthoringAPIService) GetStoryV1AuthoringStoriesStoryIdGet(ctx context.Context, storyId string) ApiGetStoryV1AuthoringStoriesStoryIdGetRequest {
	return ApiGetStoryV1AuthoringStoriesStoryIdGetRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
	}
}

// Execute executes the request
//  @return StoryDetailResponse
func (a *AuthoringAPIService) GetStoryV1AuthoringStoriesStoryIdGetExecute(r ApiGetStoryV1AuthoringStoriesStoryIdGetRequest) (*StoryDetailResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StoryDetailResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.GetStoryV1AuthoringStoriesStoryIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
	parentNodeId *string
	essential *bool
	cursor *string
	limit *int32
}

func (r ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest) ParentNodeId(parentNodeId string) ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest {
	r.parentNodeId = &parentNodeId
	return r
}

func (r ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest) Essential(essential bool) ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest {
	r.essential = &essential
	return r
}

func (r ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest) Cursor(cursor string) ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest) Limit(limit int32) ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest) Execute() (*PaginatedResponseExplorationNodeResponse, *http.Response, error) {
	return r.ApiService.ListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetExecute(r)
}

/*
ListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGet List Authoring Exploration Nodes

List exploration nodes for a story with optional filtering and cursor pagination.

``parent_node_id`` filters to nodes anchored at a specific DAG node.
``essential`` filters to only essential or non-essential nodes (applied in-memory
after the repository fetch since the underlying method returns a plain list).
``cursor`` is the ``id`` of the last item from the previous page — used for
simple in-memory slice pagination.  Cursor-based approach is acceptable here
because the total count per story is bounded and authoring calls are low-volume.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @return ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest
*/
func (a *AuthoringAPIService) ListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGet(ctx context.Context, storyId string) ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest {
	return ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
	}
}

// Execute executes the request
//  @return PaginatedResponseExplorationNodeResponse
func (a *AuthoringAPIService) ListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetExecute(r ApiListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGetRequest) (*PaginatedResponseExplorationNodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedResponseExplorationNodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.ListAuthoringExplorationNodesV1AuthoringStoriesStoryIdExplorationNodesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}/exploration-nodes"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.parentNodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_node_id", r.parentNodeId, "form", "")
	}
	if r.essential != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "essential", r.essential, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListStoriesV1AuthoringStoriesGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	cursor *string
	limit *int32
}

func (r ApiListStoriesV1AuthoringStoriesGetRequest) Cursor(cursor string) ApiListStoriesV1AuthoringStoriesGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListStoriesV1AuthoringStoriesGetRequest) Limit(limit int32) ApiListStoriesV1AuthoringStoriesGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListStoriesV1AuthoringStoriesGetRequest) Execute() (*PaginatedResponseAuthoringStorySummaryResponse, *http.Response, error) {
	return r.ApiService.ListStoriesV1AuthoringStoriesGetExecute(r)
}

/*
ListStoriesV1AuthoringStoriesGet List Stories

Return a cursor-paginated list of non-deleted stories for the calling tenant.

Richer than the player-facing ``GET /v1/stories`` — includes
``generation_contract``, ``flag_schema``, and ``characters`` so tenants
can inspect how each story was configured at generation time.

``limit`` is capped at 100.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListStoriesV1AuthoringStoriesGetRequest
*/
func (a *AuthoringAPIService) ListStoriesV1AuthoringStoriesGet(ctx context.Context) ApiListStoriesV1AuthoringStoriesGetRequest {
	return ApiListStoriesV1AuthoringStoriesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedResponseAuthoringStorySummaryResponse
func (a *AuthoringAPIService) ListStoriesV1AuthoringStoriesGetExecute(r ApiListStoriesV1AuthoringStoriesGetRequest) (*PaginatedResponseAuthoringStorySummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedResponseAuthoringStorySummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.ListStoriesV1AuthoringStoriesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	storyId string
	nodeId string
	patchExplorationNodeRequest *PatchExplorationNodeRequest
}

func (r ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest) PatchExplorationNodeRequest(patchExplorationNodeRequest PatchExplorationNodeRequest) ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest {
	r.patchExplorationNodeRequest = &patchExplorationNodeRequest
	return r
}

func (r ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest) Execute() (*ExplorationNodeResponse, *http.Response, error) {
	return r.ApiService.PatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchExecute(r)
}

/*
PatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatch Patch Authoring Exploration Node

Update the ``essential`` flag on an exploration node.

Only the ``essential`` flag is mutable via the authoring surface.  When
``essential=True``, the node's ``formalized_text`` is always included in the
synthesized narrative context entry regardless of byte budget.  This lets
authors guarantee that critical discoveries (e.g. "The murderer was seen near
the west wing at midnight") are never omitted during generation.

This operation is idempotent: setting ``essential=True`` on an already-essential
node returns the node unchanged.  Omitting ``essential`` from the request body
is also a no-op — the node is fetched and returned as-is.

Returns 404 if the node does not exist or belongs to a different tenant/story.
Returns 409 if ``essential=True`` is requested but the parent story node already
has materialized child nodes — marking essential after generation would make the
essential context invisible to already-generated downstream text.
``picked`` is always ``False`` — authoring routes have no session context.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storyId
 @param nodeId
 @return ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest
*/
func (a *AuthoringAPIService) PatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatch(ctx context.Context, storyId string, nodeId string) ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest {
	return ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest{
		ApiService: a,
		ctx: ctx,
		storyId: storyId,
		nodeId: nodeId,
	}
}

// Execute executes the request
//  @return ExplorationNodeResponse
func (a *AuthoringAPIService) PatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchExecute(r ApiPatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatchRequest) (*ExplorationNodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExplorationNodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.PatchAuthoringExplorationNodeV1AuthoringStoriesStoryIdExplorationNodesNodeIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/stories/{story_id}/exploration-nodes/{node_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"story_id"+"}", url.PathEscape(parameterValueToString(r.storyId, "storyId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"node_id"+"}", url.PathEscape(parameterValueToString(r.nodeId, "nodeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchExplorationNodeRequest == nil {
		return localVarReturnValue, nil, reportError("patchExplorationNodeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchExplorationNodeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStreamJobStatusV1AuthoringJobsJobIdStreamGetRequest struct {
	ctx context.Context
	ApiService *AuthoringAPIService
	jobId string
}

func (r ApiStreamJobStatusV1AuthoringJobsJobIdStreamGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.StreamJobStatusV1AuthoringJobsJobIdStreamGetExecute(r)
}

/*
StreamJobStatusV1AuthoringJobsJobIdStreamGet Stream Job Status

SSE stream that pushes ARQ job lifecycle events until completion.

Polls ``arq:result:{job_id}`` and ``arq:in-progress:{job_id}`` at 250 ms
intervals.  Emits ``queued``, ``in_progress``, ``complete``, ``failed``,
and ``heartbeat`` events.  Closes after a terminal event or 5-minute
timeout.

Equivalent to the smoketest ``GET /smoketest/job/{job_id}/status`` but
tenant-authenticated and visible in the OpenAPI schema.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId
 @return ApiStreamJobStatusV1AuthoringJobsJobIdStreamGetRequest
*/
func (a *AuthoringAPIService) StreamJobStatusV1AuthoringJobsJobIdStreamGet(ctx context.Context, jobId string) ApiStreamJobStatusV1AuthoringJobsJobIdStreamGetRequest {
	return ApiStreamJobStatusV1AuthoringJobsJobIdStreamGetRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthoringAPIService) StreamJobStatusV1AuthoringJobsJobIdStreamGetExecute(r ApiStreamJobStatusV1AuthoringJobsJobIdStreamGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthoringAPIService.StreamJobStatusV1AuthoringJobsJobIdStreamGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authoring/jobs/{job_id}/stream"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Player-Id"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlayerApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
